@import './utils/variables.scss';

@import './global/reset.scss';
@import './global/fonts.scss';

@import './layouts/header.scss';
@import './layouts/main.scss';
@import './layouts/footer.scss';
@import './layouts/gallery.scss';

@import './pages/logement.scss';
@import './pages/about.scss';
@import './pages/error404.scss';

@import './components/navBar.scss';
@import './components/heroBanner.scss';
@import './components/card.scss';
@import './components/carrousel.scss';
@import './components/tags.scss';
@import './components/host.scss';
@import './components/rating.scss';
@import './components/dropDown.scss';