@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css');

* {
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 142.6%;
    color: $color-primary;
}

.navBar__link {
    font-size: 24px;
    line-height: 142.6%;
}

.hero-banner {
    &__title {
        font-size: 48px;
        text-align: center;
        color: #ffffff;
    }
}

.card__title {
    font-size: 18px;
    color: #ffffff;
}

.footer__copyright {
    font-size: 24px;
    color: #ffffff;
}

.carrousel__index {
    font-size: 18px;
    color: #ffffff;
}

.host__name {
    font-size: 18px;
    text-align: right;

    color: $color-primary;
}

.logement {

    &__title {
        font-size: 36px;
    }

    &__location {
        font-size: 18px;
    }
}

.tags__item {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.dropDown {
    &__title {
        font-size: 18px;
        color: #ffffff;
    }
    &__content {
        font-size: 18px;
        font-weight: 400;
    }
}

.error-404 {
    &__title {
        color: #FF6060;
        text-align: center;
        font-size: 288px;
        font-weight: 700;
    }
    &__text {
        color: #FF6060;
        font-size: 36px;
        &-sm {
            color: #FF6060;
            font-size: 18px;
            }
    }
}

@media (max-width: 1023px) {
    .navBar__link {
        font-size: 12px;
    }
    .hero-banner {
        &__title {
            font-size: 24px;
            line-height: 24px;
            text-align: left;
        }
    }
    .footer__copyright {
        font-size: 12px;
    }
    .dropDown {
        &__title {
            font-size: 13px;
        }
        &__content {
            font-size: 12px;
        }
    }
    .logement {

        &__title {
            font-size: 18px;
        }
    
        &__location {
            font-size: 14px;
        }
    }
    .host__name {
        font-size: 12px;
        text-align: right;
    
        color: $color-primary;
    }
    .tags__item {
        font-size: 10px;
    }
}