.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;

    &__mask {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background: #000;
        mix-blend-mode: darken;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__index {
        position: absolute;
        bottom: 25px;
    }

    &__arrow {
        position: absolute;
        z-index: 3;
        top: 149px;

        &-left {
            left: 23.36px;
        }

        &-right {
            right: 23.3px;
        }
    }
}

@media (max-width: 1023px) {
    .carrousel {
        height: 255px;
        border-radius: 10px;
        &__index {
            display: none;
        }
        &__arrow {
            top: inherit;
            width: 24px;
            height: 24px;
            padding: 2px;
            
            &-right {
                right: 0;
            }
            &-left {
                left: 0;
            }
        }
    }
}