.dropDown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-height: 52px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &--open {
        max-height: 1000px !important;

        .dropDown__btn {
            transform: rotate(-180deg);
        }

        .dropDown__content {
            transform: translateY(0);
        }
    }

    &__content {
        position: relative;
        display: flex;
        padding: 70px 20px 20px 20px;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        border-radius: 10px 10px 5px 5px;
        transition: all 0.3s ease-in-out;
        transform: translateY(-100%);
        z-index: -1;

        background: var(--Gray, #F6F6F6);
    }

    &__topBar {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px 10px 10px;
        background-color: $color-primary;
        border-radius: 5px;

    }

    &__title {}

    &__btn {
        position: absolute;
        right: 15px;
        width: 32px;
        height: 32px;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;

        &--open {
            transform: rotate(180deg);
        }
    }



    &__list {
        list-style: none;

        &__item {}
    }

    &__description {}
}

@media (max-width: 1024px) {
    .dropDown {
        max-height: 30px;
        &__topBar {
            height: 30px;
            padding: 10px 6px 10px 10px;
        }
        &__content {
            padding: 43px 20px 19px 20px;
        }
        &__btn {
            right: 6px;
        }
    }
}