.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 209px;
    gap: 28.556px;

    padding: 66px 0 29px;

    background: #000;
    &__logo {
        width: 122px;
        height: 39.444px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-K {
            align-self: flex-start;
        }
        &-icon {
            align-self: flex-end;
        }
        &-S {}
        &-A {}
    }
    &__copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;

        height: 46px;
    }
}

@media (max-width: 1023px) {
    .footer{
        padding: 66px 0 58px;

    &__copyright {
        width: 133.594px;
    }
}
}