.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
    &__logo {
        height: 68px;
    }
    &__nav {}
}

@media (max-width: 1023px) {
    .header {
        height: 100%;
        margin-bottom: 19px;
        &__logo {
            width: 145px;
            height: 46.9px;
        }
    }
}