.main {
    padding: 45px 0 50px;
    max-width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {
    .main {
        padding: 20px 20px 27px;
    }
    
}